.openModal{
    position: fixed;
    top:0;
    right:0;
    background-color:rgba(200,200,200,0.9);
    padding:5px;
    cursor: pointer;
    z-index: 99;
}

.modalContainer{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 90;
}

.modalContent{
    display:block;
    max-width:800px;
    height:500px;
    margin:0 auto;
    background:rgba(255,255,255,0.8);
}
input{
    border:1px solid #dedede;
    padding:8px 10px;
    color:#444;
}
.fieldGroup{
    display: flex;
}
.fieldGroup input{
    width: 33%;
    display: inline;
}